<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="driver.mySql" value="mySql"/>
    <add key="driver.travis" value="mySql"/>
  </appSettings>
  <connectionStrings>
    <add name="mySql" connectionString="Server=localhost;database=test;uid=user1;pwd=user1;Pooling=False;Connection Timeout=600;Allow User Variables=True;" />
    <add name="travis"  connectionString="Server=127.0.0.1;database=test;uid=root;pwd=;Pooling=False;Connection Timeout=600;Allow User Variables=True;" />
  </connectionStrings>
</configuration>